/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --bg-linear-purple: linear-gradient(91deg, #5617cb 0%, #8447f6 96.49%);
  --bg-linear-green: linear-gradient(91deg,#1e7d3a 0%,#2cae53 100%);
  --bg-linear-orange: linear-gradient(91deg,#cc6504 0%,#eb9c53 100%);

  --primary-color: #3BC117;
  --purple-color: #8447f6;
  --orange-color: #eb9c53;
  --default-color: #ffffff;
}

:root:root {
  --van-primary-color: #3BC117;
  /* --van-background-2: transparent; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
a,a:link,a:visited,a:hover,a:active{
  text-decoration: none;
  color:inherit;
}

button {
  border: none;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
}

canvas {
  -webkit-user-select: none;
  user-select: none;
}

html,body {
  overscroll-behavior: contain;
  scrollbar-width: thin;
  touch-action: manipulation;
  background-color: #24262b;
  /* width: 100%;
  height: 100%; */
}

input {
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
}
.input-control input:focus,.input-control input:hover {
  border: 1px solid var(--primary-color);
}
.text-label {
  color: #8d9792;
}