@import './base.css';

@media screen and (min-width: 600px) {
  html {
      font-size:88px!important;
      background-color: #393b41;
  }

  .tabbar,.van-popup--bottom,.van-tabbar {
      max-width: 428px;
      left: 50%!important;
      bottom: 0!important;
      transform: translate(-50%)!important
  }
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: #24262b;
  height: 100%;
  max-width: 428px;
  margin: 0 auto;
  overflow-y: auto;
  -webkit-scroll-snap-type: x mandatory;
  -moz-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
  position: relative;
}

.button {
  display: block;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  height: 34px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.36, 0.66, 0.04, 1);
  -webkit-transition: transform 0.2s cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 0.2s cubic-bezier(0.36, 0.66, 0.04, 1);
  background: #3d4049;
}
.button.active {
  background-color: #713a25b3;
  background-image: conic-gradient(
    from 1turn,
    rgb(29 171 114),
    rgba(29, 128, 58, 1)
  );
}
.button.active:hover {
  background-image: conic-gradient(from 1turn,rgba(88,175,16),rgba(29,128,58,1))
}
.button:active.button:not(:disabled) {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95)
}

.button:disabled.button:not(.is-loading) {
  opacity: .5;
  cursor: default
}



.cus-scrollview {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  -webkit-flex: 1 1 1px;
  -ms-flex: 1 1 1px;
  flex: 1 1 1px;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  overscroll-behavior: contain
}

.cus-scrollview.hide-bar.cus-scrollview::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent
}

@keyframes rotate-infinite {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}